@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Lobster&family=Pacifico&family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,400;1,500&display=swap');
:root {
    --cor-azul-escuro: #18A0FB;
    --cor-branco-padrao: #ffff;
    --cor-fundo-comprar: #E5E5E5;
    --cor-preto-padrao: #0000; 
}


body {
    margin: 0;
}
.cabecalho{}
.cabecalho__principal {
display: flex;
justify-content: center;
}
    .cabecalho__imagem {
        margin-top: 5px;
        height: 40px;
        width: 40px;
    }
    .cabecalho__titulo {
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
        font-family: 'Poppins', sans-serif;
    }
    .botoes {
    }
        .botoes__opcoes {
            display: flex;
            justify-content: space-around;
            list-style:none;
        }
            .botoes__opcoes--opcao {
            }
                .opcao__texto {
                margin: 0;
                display: flex;
                justify-content: center;
                }
                .opcao__entrar {
                    background-color:var(--cor-branco-padrao);
                    border:1px solid var(--cor-azul-escuro);
                    color: var(--cor-azul-escuro);
                    height: 20px;
                    width: 110px;
                    border-radius: 5px;  
                }
                .opcao__cadatrar {
                    background-color: var(--cor-azul-escuro);
                    border-radius: 5px ;
                    color: var(--cor-branco-padrao);
                    height: 20px;
                    width: 110px;
                }
.principal {
}
    .principal__capa { 
        position: relative;  
    }
        .principal__capa--imagem {
            width: 100vw;
            margin: 0;
        }
        .principal__textos {
            position:absolute;
            top: 0;
        }
            .principal__capa--texto1 {
                margin: 29px 5px 0 10px;
                font-size: 21px;
                font-weight: 600;
                font-family: 'Poppins', sans-serif;               
            }
            .principal__capa--texto2 {
                margin: 2px 4px 5px 34px;
                font-size: 17px;
                font-family: 'Libre Baskerville', serif; 
                
            }
    .principal__botoes {
        display: flex;
        justify-content: space-around;
        color: var(--cor-azul-escuro);
    }
    .principal__pesquisar{
        height: 61px;
        display: flex;
    }
        .pesquisar__titulo{
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            margin-left: 10px;
            font-weight: 600;
        }
        .pesquisar__texto {
            height: 34px;
            width: 283px;
            border-radius: 20px;
            border: 0;
            background-color: var(--cor-fundo-comprar);
            text-align: left ;
            padding-left: 15px;
            margin:15px;
        }
.principal__alugar {}
    .principal__alugar--titulo {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    .alugar__apartamento {}
        .alugar__apartamento--titulo {
            margin: 5px 0 10px 20px;
            font-family: 'Poppins', sans-serif;
        }
        .alugar__apartamento--opcoes {
            display: flex;
            overflow: scroll;
            padding: 10px;
        }
            .apartamentos__opcao {
                list-style:none;
                margin: 0 10px 5px 10px;  
            }
                .apartamentos__opcao__imagem {
                    height: 183px;
                    width: 199px;
                }
                .apartamentos__opcao--informacao {
                    font-size: 20px;
                    margin: 2px 0 5px 0;;
                }
                .apartamentos__opcao--texto {
                    margin: 0;
                }
                .alugar__apartamento--botao {
                    margin: 5px 20px 0 20px;
                    border:1px solid var(--cor-azul-escuro);
                    border-radius: 5px;
                    color: var(--cor-azul-escuro);
                    width: auto;
                    text-align: center;
                }
    .alugar__casa {}
            .alugar__casa--titulo {
                margin: 5px 0 10px 20px;
                font-family: 'Poppins', sans-serif;
            }
            .alugar__casa--opcoes {
                display: flex;
                overflow: scroll;
                padding: 10px;
            }
                .casa__opcao {
                    list-style:none;
                    margin: 0 10px 5px 10px;  
                }
                    .casa__opcao__imagem {
                        height: 183px;
                        width: 199px;
                    }
                    .casa__opcao--informacao {
                        font-size: 20px;
                        margin: 2px 0 5px 0;;
                    }
                    .casa__opcao--texto {
                        margin: 0;
                    }
                    .alugar__casa--botao {
                        margin: 5px 20px 0 20px;
                        border:1px solid var(--cor-azul-escuro);
                        border-radius: 5px;
                        color: var(--cor-azul-escuro);
                        width: auto;
                        text-align: center;
                    }
.principal__comprar {
    background-color: var(--cor-fundo-comprar);
    margin: 20px 0 30px 0;
}
    .principal__comprar--titulo {
        display: flex;
        justify-content: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    .comprar__apartamento {}
        .comprar__apartamento--titulo {
            margin: 5px 0 10px 20px;
            font-family: 'Poppins', sans-serif;
        }
        .comprar__apartamento--opcoes {
            display: flex;
            overflow: scroll;
            padding: 10px;
        }
            .apartamentos__opcao {
                list-style:none;
                margin: 0 10px 5px 10px;  
            }
                .apartamentos__opcao__imagem {
                    height: 183px;
                    width: 199px;
                }
                .apartamentos__opcao--informacao {
                    font-size: 20px;
                    margin: 2px 0 5px 0;
                }
                .apartamentos__opcao--texto {
                    margin: 0;
                }
                .apartamentos__opcao--botao {
                    margin: 5px 20px 0 20px;
                    border:1px solid var(--cor-branco-padrao);
                    border-radius: 5px;
                    color: var(--cor-fundo-comprar);
                    width: auto;
                    text-align: center;
                    background-color: var(--cor-azul-escuro);
                }
    .comprar__casa {}
            .comprar__casa--titulo {
                margin: 5px 0 10px 20px;
                font-family: 'Poppins', sans-serif;
            }
            .comprar__casa--opcoes {
                display: flex;
                overflow: scroll;
                padding: 10px;
            }
                .casas__opcao {
                    list-style:none;
                    margin: 0 10px 5px 10px;  
                }
                    .casas__opcao__imagem {
                        height: 183px;
                        width: 199px;
                    }
                    .casas__opcao--informacao {
                        font-size: 20px;
                        margin: 2px 0 5px 0;;
                    }
                    .casas__opcao--texto {
                        margin: 0;
                    }
                    .casa__opcao--botao {
                        margin: 5px 20px 0 20px;
                        border:1px solid var(--cor-branco-padrao);
                        border-radius: 5px;
                        color: var(--cor-fundo-comprar);
                        width: auto;
                        text-align: center;
                        background-color: var(--cor-azul-escuro);
                    }
    .principal__anuncio{
    }
        .principal__anuncio--titulo{
            font-size: 19px;
            text-align: center;
            font-family: 'Poppins', sans-serif;
        }
        .principal__anuncio--opcoes{
            display: flex;
            justify-content: space-around;
            list-style:none;
        }
            .principal__anuncio--opcao{}
                .principal__anuncio--apartamento{
                    background-color: var(--cor-branco-padrao);
                    border-radius: 5px ;
                    color: var(--cor-azul-escuro);
                    height: 20px;
                    width: 110px;
                    margin: 0;
                    text-align: center;
                    border: 1px solid var(--cor-azul-escuro);
                }
                .principal__anuncio--casa{
                    background-color: var(--cor-azul-escuro);
                    border-radius: 5px ;
                    color: var(--cor-branco-padrao);
                    height: 20px;
                    width: 110px;
                    margin: 0;
                    text-align: center;
                    }
    .principal__principios {
        padding-bottom: 30px;
    }
        .principal__principios--titulo {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin: 35px 0 20px 0 ;
            font-family: 'Poppins', sans-serif;
        }
        .principal__principios--opcoes {
            display: flex;
            overflow-x: scroll;
            cursor: pointer;
            list-style:none;
            padding: 10px;
        }
            .principal__principios--opcao {
                background-color: var(--cor-fundo-comprar);
                padding: 15px;
                min-width: 270px;
                margin: 0 10px;
                border-radius: 20px;
                box-shadow: var(--cor-azul-escuro) 0px 7px 7px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
            }
                .principios__opcao--titulo {
                    color: var(--fonte-do-main);
                    margin: 7px;
                    font-family: 'Poppins', sans-serif;
                }
                .principios__opcao--texto {
                    font-size: 16px;
                }  
                
                
                    
                  
                     


.rodape {
    display: flex;
    justify-content: center;
    border-top:0.5px solid #000 ;
    margin: 25px
}
    .rodape__imagem {
        height: 40px;
        width: 40px;
        margin-top: 15px;
    }
    .rodape__titulo {
        font-size: 18px;
        font-weight: 500;
        margin-left: 10px;
        font-family: 'Poppins', sans-serif;
    }
    
   
          