:root {
    --cor-azul-escuro: #18A0FB;
    --cor-branco-padrao: #ffff;
}



.cabecalho{}
.cabecalho__principal {
display: flex;
justify-content: center;
}
    .cabecalho__imagem {
        height: 40px;
        width: 40px;
    }
    .cabecalho__titulo {
        font-size: 20px;
        font-weight: 100;
        margin-left: 10px;
    }
    .botoes {
    }
        .botoes__opcoes {
            display: flex;
            justify-content: space-around;
            list-style:none;
        }
            .botoes__opcoes--opcao {
            }
                .opcao__texto {
                margin: 0;
                display: flex;
                justify-content: center;
                }
                .opcao__entrar {
                    background-color:var(--cor-branco-padrao);
                    border:1px solid var(--cor-azul-escuro);
                    color: var(--cor-azul-escuro);
                    height: 20px;
                    width: 110px;
                    border-radius: 5px;  
                }
                .opcao__cadatrar {
                    background-color: var(--cor-azul-escuro);
                    border-radius: 5px ;
                    color: var(--cor-branco-padrao);
                    height: 20px;
                    width: 110px;
                }